* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }
  
  #map {
    height: 100vh;
    width: 80vw;
  }
  
  #container {
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
  }
  
  #sidebar {
      display: flex;
      flex-direction: column;
      width: 20vw;
  }
  
  #marker_select {
      padding: 10%;
      background-color: lightcoral;
      margin-bottom: 20px;
  }
  
  #itinerary {
    background-color: lightgrey;    
  }
  
  #itinerary_list {
      padding: 0 10%;
  }
  
  #itinerary > h1{
      margin-top: 0px;
      padding-left: 10%;
      background-color: orange;
  }
  
  @media (max-width: 400px) {

    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    #map {
        max-height: 60vh;
        width: 100vw;
    }
    
    #sidebar {
        width: 100vw;
        height: 40vh;
        justify-content: space-between
    }
    
    #itinerary {
        padding-bottom: 10%;
    }
    
    #marker_select select {
        height: 50px;
        width: 250px;
        font-size: 18px;
    }

  }